  * {
    font-family: pretendard;
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }

  main {
    width: 1140px;
    margin: auto;
  }

  header {
    margin-top: 15px;
    height: 80px;
    display: flex;

    gap: 20px;
  }

  .select-region {
    flex-basis: 10%;
    display: flex;
    flex-direction: column;
  }

  .select-region > div:first-child {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;

    font-size: 16px;
    font-weight: 600;
    color: 2c3037;
    background-color: #f3f4f5;
    border-radius: 30px;

    cursor: pointer;
  }

  .select-region > div:last-child {
    flex-basis: 40%;
  }

  .search-area {
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
  }

  form[name="search-form"] {
    flex-basis: 60%;
    display: flex;

    font-size: 18px;
    font-weight: 600;
    color: #585d6b;

    border: 1px solid #dddee2;
    border-radius: 35px;
  }

  form[name="search-form"] > span {
    flex-basis: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form[name="search-form"] > fieldset {
    border: none;
    width: 90%;
    display: flex;
    padding: 0px;
    outline: none;
  }

  #query {
    border: none;
    width: 95%;
    padding: 0 10px;
    font-size: 18px;
  }

  #query::-webkit-input-placeholder {
    font-family: 'Pretendard';
    font-size: 18px;
  }

  #search-btn {
    border: none;
    background-color: transparent;
  }

  #search-btn > i {
    width: 30px;
    height: 30px;
    color: white;
    background-color: #2c3037;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
  }

  .search-area > div:last-child {
    flex: 40%;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .search-area > div:last-child a {
    color: black;
    text-decoration: none;
  }

  /* 개별 span 요소에 오른쪽 마진을 부여 */
  .search-area > div:last-child > div > span {
    margin-right: 10px; /* 원하는 가로 간격 */
  }

  .search-area > div:last-child > span {
    color: #888b93;
  }

  nav {
    height: 80px;
    
    display: flex;
    
    position: sticky;
    top : 0;
    background-color: white;
  }

  .logo-area {
    flex-basis: 25%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .logo-area img {
    height: 35px;
  }

  .menu-area {
    flex-basis: 50%;
    display: flex;
  }

  .menu-area > ul {
    flex-basis: 100%;
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    font-size: 18px;
    font-weight: 500;
    justify-content: space-around;
    align-items: center;
  }

  .menu-area i {
    color: #888b93;
  }

  .menu-area a {
    color: black;
    text-decoration: none;
  }

  .download-area {
    flex-basis: 25%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .download-area div {
    background-color: #e26f2e;
    color: white;
    font-size: 15px;
    font-weight: 500;

    height: 45%;
    width: 35%;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
  }

  .content-title > div:first-child {
    margin: 15px 0px;
  }

  .content-title h1 {
    margin: 0px;
  }

  .content {
    margin-top: 20px;
    display: flex;
  }

  .content-side {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }

  .content-side h3 {
    margin: 15px 0;
  }
  .content-side div {
    display: flex;
  }

  .content-filter {
    display: flex;
    flex-direction: column;

    border-bottom: 1px solid #ddd;
  }

  .content-filter div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content-filter h2 {
    margin: 0;
  }

  .content-filter a {
    color: #888b93;
  }

  .content-filter label {
    margin: 20px 0px;
  }

  .content-filter [type="checkbox"], .content-location [type="checkbox"]
  , .content-category [type="checkbox"] {
    accent-color: #e26f2e;
  }

  .content-location {
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
  }

  .content-location label, .content-category label {
    margin-bottom: 5px;
  }

  .content-location span {
    margin-bottom: 15px;
  }

  .content-location a {
    margin: 15px 0 20px;
    color: #c65725;
    cursor: pointer;
    text-decoration: none;
  }

  .content-category {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
  }

  .content-product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .content-product button {
    display: inline-block;
    width: auto;
    height: auto;

    background-color: transparent;
    border: 1px solid #dddee2;
    border-radius: 20px;
    
    margin: 5px 0;
    padding: 7px 10px;
    cursor: pointer;
  }

  .content-product > button > a {
    color: black;
    text-decoration: none;
  }

  .content-product div {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .content-product input {
    margin: 10px 0;
    width: 50%;
    height: 30px;
    border: 1px solid #888b93;
    border-radius: 5px;
  }

  .content-product > a {
    font-size: 14px;
    color: #585d6b;
  }

  .content-price a {
    flex-basis: 25%;
  }

  .content-main {
    margin-left: 15px;
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
  }

  .product-picture {
    width: 90%;
    border-radius: 10px;
  }

  .content-desc {
    display: flex;
    margin: 10px 0 50px 0;
  }

  .product-desc>div:nth-of-type(1) {
    margin-top: 7px;
    font-size: 17px;
  }

  .product-desc>div:nth-of-type(2) {
    margin-top: 7px;
    font-weight: bold;
    font-size: 16px;
  }

  .product-desc>div:nth-of-type(3) {
    margin-top: 7px;
    font-size: 13px;
    color: #585d6b;
  }

  .content-main > button {
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    background-color: #f3f4f5;
  }

  footer > img {
    margin: 100px 0;
    width: 100%;
  }

  .footer-desc {
    width: 1140px;
    margin: auto;
    display: flex;
  }

  .footer-logo {
    flex-basis: 10%;
    display: flex;
    flex-direction: column;
  }

  .logo-picture {
    height: 10%;
    margin-bottom: 25px;
  }

  .logo-picture > img {
    height: 100%;
  }

  .sns-logo i {
    font-size: 23px;
  }

  .footer-info {
    flex-basis: 90%;
    display: flex;
    gap: 20px;
  }

  .footer-info > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 0;
  }

  .footer-info ul {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .footer-info li {
    list-style: none;
    margin: 10px 0;
    padding: 0;
  }

  .info-title {
    font-size: 17px;
    font-weight: bold;
  }

  .footer-info a {
    text-decoration: none;
    color: black;
    font-size: 14px;
  }

  .footer-present, .footer-policy a {
    text-decoration: none;
    font-size: 14px;
    color: #888b93;
  }

  .footer-texts {
    width: 1140px;
    margin: 0;
    margin-left: 180px;
  }

  .footer-present {
    margin-bottom: 30px;
  }
  
  .footer-policy {
    margin-bottom: 30px;
  }


  .footer-policy a {
    margin-right: 20px;
  }