* {
  font-family: pretendard;
}

div{
  border : 1px solid black;
  box-sizing: border-box;
  /* content + padding + border 합으로 width/height 지정 */
}

.item{
  width: 75px;
  height: 75px;
}

.item1{background-color: red;}
.item2{background-color: orangered;}
.item3{background-color: orange;}
.item4{background-color: yellow;}
.item5{background-color: yellowgreen;}
.item6{background-color: green;}
.item7{background-color: lightblue;}
.item8{background-color: blue;}
.item9{background-color: violet;}

/* container(부모)에게 줄 수 있는 flex 속성 */
.flex-container {
  height: 800px;

  /* display : flex;
  item(자식 태그)을 감싸는 요소(부모 태그)의 형식을 flexbox로 변경
  > 내부 요소인 item들이 자동으로 정렬되며, 레이아웃을 쉽게 조정할 수 있음 
  자동 정렬 > 가로/세로 정렬을 쉽게 조정 가능
  공간 배분 > 요소 간 간격을 자동으로 조정
  반응형 레이아웃 > 화면 크기에 따라 유연하게 조정 */
  display: flex;

  /* flex-direction(부모 전용 속성)
  > 메인축의 방향과 시작 위치를 지정하는 속성
  - row : 메인축이 행 방향으로(가로로) 설정됨(기본값)
  - row-reverse : 행 방향으로 row와 반대 순서(뒤집어진 모양)
  - column : 메인축이 열 방향으로(세로로) 설정됨
    > 교차축이 행 방향으로 설정됨
  - column-reverse : 행 방향으로 column 반대 순서(뒤집어진 모양)*/
  flex-direction: row;

  /* flex-wrap (부모 전용 속성)
  > 내부 item들을 포장하는 속성
  > item들이 강제로 한 줄에 배치할 것인지, 한 줄에서 벗어나 여러 줄로 배치할 것인지 지정
  - nowrap : item을 한 줄로 배치(기본값)
  - wrap : item을 여러 줄로 배치
  - wrap-reverse : 여러 줄로 배치 + 순서 반대로 (시작 위치 반전) */
  flex-wrap: nowrap;

  /* justify-content (부모 전용 속성)
  > 메인축 방향으로 item의 정렬 방법을 조정함
  - flex-start : 메인축 방향으로 앞에서부터 정렬(기본값)
  - flex-end : 메인축 방향으로 뒤에 붙어서 정렬
    *row-reverse의 경우, 메인축에 변경을 주기 때문에 시작 위치가 반전됨!
  - center : 메인축 방향으로 가운데 정렬
  - space-between : 양끝 쪽을 붙인 상태에서 item들의 간격을 일정하게 정렬 
  - space-around : 양끝은 조금, item 중간은 일정 간격으로 정렬
  - space-evenly : item이 메인축 내에서 모두 동일한 간격을 가짐 */
  justify-content: flex-start;

  /* align-items (부모 전용 속성) 
  > item들을 교차축 방향으로 정렬하는 방법을 지정하는 속성
  - flex-start : 교차축 앞에서부터 정렬(기본값)
  - center : 교차축 가운데 정렬
  - flex-end : 끝에 붙어서 정렬 */
  align-items: flex-start;
}

/* 부모 */
#con {
  width: 450px;
  height: 450px;

  display: flex;
  /* 메인축 가운데 정렬 */
  justify-content: center;
  /* 교차축 가운데 정렬 */
  align-items: center;
}

/* item(자식)에게 줄 수 있는 flex 속성 */

/* 자식 */
#item-center {
  width: 80px;
  height: 80px;
  background-color: red;
}

/* order : 기본값 0;
양수~음수 모두 설정 가능, 값이 작은 요소가 먼저 배치되고 큰 요소가 뒤에 배치됨 */
.order:nth-child(1) {
  order: 3;
}

.order:nth-child(2) {
  order: 4;
}

.order:nth-child(3) {
  order: 5;
}

/* flex-bassis : item의 기본 크기를 결정하는 속성
> 부모를 기준으로 자식이 얼마만큼 점유하겠는가?
> width와의 차이점 : flex-grow, flex-shrink에 의해 유동적으로 변경될 수 있음
- auto; : 요소 본래의 크기(75x75) 만큼 차지 (기본값)
- 0; : 본래 요소의 크기 중 content만 남겨두고, 차지하는 영역 없음 */
.basis-20 {
  flex-basis: 20%;
}

.basis-30 {
  flex-basis: 30%;
}

.basis-50 {
  flex-basis: 50%;
}

/* flex-grow
> 설정값은 여백의 비율로 작성(적용0)
- 0 : 요소가 추가적인 가용 공간을 차지하지 않고, 자신의 초기 크기 유지 (기본값) */
.grow1 {
  flex-grow: 0;;
}

.grow2 {
  flex-grow: 2;
}

.grow3 {
  flex-grow: 1;
}

/* flex-shrink : n
> n 값의 비율대로 줄어든다
- 1 : 컨테이너의 크기가 줄어들면 다른 요소들(자식 요소)과 함께 비율적으로 축소됨(기본값)
- 0 : 줄어들지 않음 (컨테이너의 공간이 부족해도 본인의 원래 크기 유지)  */
.shrink1 {
  flex-shrink: 0;
}

.shrink2 {
  flex-shrink: 1;
}

.shrink3 {
  flex-shrink: 2;
}

/* flex : Flexbox 내에서 아이템의 크기와 비율을 설정하는 속성 */
.flex-test1 {
  flex: 1;
  /* flex-grow : 1; : 남은 가용 공간을 1 비율로 차지
    flex-shrink : 1; : 컨테이너 크기가 부족할 때 줄어들면 1 비율로 축소
    flex-basis : 0; */
}

.flex-test2 {
  flex: 1 0 auto;
  /* flex-grow : 1; : 남은 가용 공간을 1 비율로 차지
    flex-shrink : 0; : 축소되지 않음 (본인 크기 유지)
    flex-basis : auto; : 본인 요소 원래 크기 유지 */
}

.flex-test3 {
  flex : 1 50%;
  /* flex-grow : 1; : 가용 공간을 1 비율로 차지
    flex-shrink : 1; : 컨테이너 크기가 줄어들면 1 비율로 축소
    flex-basis : 50% : 기본 점유율이 50% */
}

.container-1 {
  width: 800px;
  height: 500px;

  display: flex;
  flex-direction: column;
}

.header-1, .footer-1 {
  flex-basis: 20%;
  background-color: gray;
}

/* container-1의 자식 요소인 동시에 body-item의 부모 요소 */
.body-1 {
  /* 자식으로서 */
  flex-basis: 60%;

  /* 부모로서 */
  display: flex;
}

.body-item:nth-child(1) {
  flex-basis: 30%;
  background-color: skyblue;
}

.body-item:nth-child(2) {
  flex-basis: 50%;
  background-color: tomato;
}

.body-item:nth-child(3) {
  flex-basis: 20%;
  background-color: antiquewhite;
}

.container-2 {
  width: 800px;
  height: 500px;

  display: flex;
  flex-direction: column;
}

.header-2 {
  flex-basis: 20%;
  background-color: red;
}

.body-2 {
  flex-basis: 80%;
  
  display: flex;
}

.body-item-2:nth-child(1) {
  flex-basis: 30%;
  background-color: yellow;
}

.body-item-2:nth-child(2) {
  flex-basis: 70%;
  background-color: greenyellow;

  display: flex;
  flex-direction: column-reverse;
}

.footer-2 {
  flex-basis: 20%;
  background-color: blue;
}

.container-3 {
  width: 800px;
  height: 500px;

  display: flex;
  flex-direction: column;
}

.header-3 {
  flex-basis: 30%;
  background-color: yellow;
}

.body-3 {
  flex-basis: 70%;

  display: flex;
}

.body-item-3:nth-child(1) {
  flex-basis: 30%;
  background-color: skyblue;
}

.body-item-3:nth-child(2) {
  flex-basis: 70%;
  
  display: flex;
  flex-direction: column;
}

.item-3-1:nth-child(1) {
  flex-basis: 50%;

  display: flex;
}

.item-3-1-1:nth-child(1) {
  flex-basis: 70%;
  background-color: aquamarine;
}

.item-3-1-1:nth-child(2) {
  flex-basis: 30%;
  background-color: red;
}

.item-3-1:nth-child(2) {
  flex-basis: 50%;
  background-color: fuchsia;
}

.container-4 {
  width: 800px;
  height: 500px;

  display: flex;
  flex-direction: column;
}

.header-4, .footer-4 {
  flex-basis: 20%;
  background-color: green;
}

.body-4 {
  flex-basis: 60%;

  display: flex;
}

.body-item-4:nth-child(1) {
  flex-basis: 30%;
  background-color: yellow;
}

.body-item-4:nth-child(2) {
  flex-basis: 70%;
  background-color: orange;

  display: flex;
  flex-direction: column-reverse;
}

.item-4-1 {
  flex-basis: 50%;

  border: 0px;
  display: flex;
  justify-content: space-between;

}

.item-4-1-1 {
  flex-basis: 30%;
  background-color: red;
}

.container-5 {
  width: 800px;
  height: 500px;

  display: flex;
  flex-direction: column;
}

.body-5-1 {
  flex-basis: 33%;

  display: flex;
}

.item-5-1:nth-child(1) {
  flex-basis: 20%;
  background-color: yellow;
}

.item-5-1:nth-child(2),.item-5-1:nth-child(3) {
  flex-basis: 40%;
  background-color: yellow;
}

.body-5-2{
  flex-basis: 67%;

  display: flex;
}

.item-5-2:nth-child(1) {
  flex-basis: 30%;

  display: flex;
  flex-direction: column;
}

.item-5-2-1{
  /* flex-grow: 1; */
  flex-basis: calc(100%/3);
  background-color: skyblue;
}

.item-5-2:nth-child(3) {
  flex-basis: 40%;

  display: flex;
  flex-direction: column;
}

.item-5-2-2:nth-child(1) {
  flex-basis: 50%;
  background-color: orange;
}

.item-5-2-2:nth-child(2) {
  flex-basis: 50%;

  display: flex;
}

.item-5-2-2-1:nth-child(1) {
  flex-basis: 50%;
  
  display: flex;
  flex-direction: column;
}

.item-5-2-2-2 {
  flex-basis: 50%;
  background-color: green;
}

.item-5-2-2-1:nth-child(2) {
  flex-basis: 50%;
  background-color: red;
}
.item-5-2:nth-child(2), .item-5-2:nth-child(4) {
  flex-basis: 15%;
  background-color: pink;

  display: flex;
  flex-direction: column;
}

.item-5-2-3:nth-child(1), .item-5-2-3:nth-child(3) {
  flex-basis: 20%;
}

.item-5-2-3:nth-child(2) {
  flex-basis: 60%;
}